/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
html, button, input, select, textarea { color: #222; }
html { font-size: 1em; line-height: 1.4; }
::-moz-selection { background: #b3d4fc; text-shadow: none; }
::selection { background: #b3d4fc; text-shadow: none; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
audio, canvas, img, video { vertical-align: middle; }
fieldset { border: 0; margin: 0; padding: 0; }
textarea { resize: vertical; }
.browsehappy { margin: 0.2em 0; background: #ccc; color: #000; padding: 0.2em 0; }


/* ===== Main Styles ================================================== */
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

body {
  font: 16px/26px 'Raleway', Helvetica, Helvetica Neue, Arial, sans-serif;
  line-height: 1.45;
  color: rgba(255, 255, 255, 1);

  background: url("https://farm3.staticflickr.com/2547/3876657203_1de82b5a85_o.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://farm8.staticflickr.com/7437/9283563202_dfdbbb557a_o.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://farm8.staticflickr.com/7437/9283563202_dfdbbb557a_o.jpg', sizingMethod='scale')";
}

  h1 { font-size: 200%; margin: 1.8% 0;}
    h1 small { display: block; font-size: 60%; margin-bottom: 10px; }
    .ie7 .title { padding-top: 20px; }

  h2 { font-size: 130%; font-weight: normal; text-transform: uppercase; margin-top: 0; }
  h3 { font-size: 90%; font-weight: normal; text-transform: uppercase; }

  a { color: rgba(255, 255, 255, 0.8); font-weight: bold; letter-spacing: 2px;}
  a:hover { color: rgba(255, 255, 255, 0.9); }

  .wrapper {
    width: 100%;
    height: 100%;
    padding: 0;
  }

    header {
      margin: 0;
      padding: 2% 5%;
      background-color: rgba(0, 0, 0, 0.5);
    }

      header img {
        float: left;
        width: 18%;
        min-width: 98px;
        height: auto;
        margin-right: 2%;
        border: 5px solid rgba(0, 0, 0, 1);

        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        -webkit-background-clip: padding-box;
        -moz-background-clip: padding;
        background-clip: padding-box;

      }

  main { background-color: rgba(0, 0, 0, 0.5); padding: 10px 0; }
  section { margin: 30px 0; text-align: center; }
  article { margin-bottom: 30px; }

  .social_links { padding: 2% 5%; margin: 10px 0; text-align: center; background-color: rgba(0, 0, 0, 0.8); }
  .social_links li { display: inline-block; }
  .social_links li a { font-size: 140%; text-decoration: none; margin: 0 4px; /*color: rgba(255, 255, 255, 1);*/}
  .social_links li a.icon { font-size: 110%; }
  .social_links li a:hover { color: rgba(255, 255, 255, 0.75); }


    .dotted:before,
    .dotted li:after {
      color: rgba(255, 255, 255, 1);
      opacity: .8;
      font-style: normal;
      position: relative;
      content: "•";
    }

    .dotted li:after { padding: 0 0 0 3px;}

    a.logo {
      margin: 10px auto;
      display: block;
      background-repeat: no-repeat;
      background-position: center center;
      background-color: rgba(255, 255, 255, 1);;
      width: 190px;
      height: 78px;
      border: 3px solid rgba(0, 0, 0, 1);
    }

    a.logo:hover { border: 3px solid rgba(0, 0, 0, 0.5); }

    a.peertransfer { background-image: url("../img/logo_peertransfer.png"); }
    a.frontenders { background-image: url("../img/logo_frontenders.png"); }
    .external small { display: block; }

    footer { padding: 2% 5%; font-size: 75%; letter-spacing: 2px; margin: 25px 0; text-align: center; background-color: rgba(0, 0, 0, 1); }

/* ==========================================================================
  Media Queries
  ========================================================================== */

@media only screen and (min-width: 480px) {}

@media only screen and (min-width: 768px) {
  h1 { font-size: 268%; }

  article{
    width: 40%;
    margin: 0 5%;
    float: left;
  }

  .social_links { padding: 15px 0; }
  .social_links li a { margin: 0 12px; }
  .dotted li:after { padding: 0 0 0 8px;}
  a.logo { width: 210px; height: 95px; }
  a.peertransfer { background-image: url("../img/logo_peertransfer_768.png"); }
  a.frontenders { background-image: url("../img/logo_frontenders_768.png"); }

} /* min-width: 768px */

@media only screen and (min-width: 1140px) {

  .wrapper {
    width: 1026px; /* 1140px - 10% for margins */
    margin: 0 auto;
  }

  a.logo { width: 295px; height: 130px; }
  a.peertransfer { background-image: url("../img/logo_peertransfer_1140.png"); }
  a.frontenders { background-image: url("../img/logo_frontenders_1140.png"); }

} /* min-width: 1140px */

/* ==========================================================================
  Helper classes
  ========================================================================== */

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible { visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/* ==========================================================================
  Print styles
  ========================================================================== */

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}